@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --orange-color:#FA7436;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    font-size: 12px;
    /* border: 1px solid gray; */
}

body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    color: black;
}

header{
    background-color: FEFCFB;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    /* position: sticky; */
}

nav h1{
    font-family: 'Volkhov';
    font-size: 20px;
}

.nav-middle{
    display: flex;
    gap: 36px;
}

nav ul{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
.article-left{
    margin-top: 50px;
}

.nav-right{
    display: flex;
    gap:36px;
    
}
/* .nav-right a{
    color: var(--orange-color);
} */



.btn-dark{
    padding:10px 30px;
    border-radius: 5px;
    background-color: #FA7436;
    color: white;
    box-shadow: 0px 9px 36px rgba(0,0,0,0.2);
}

.btn-light{
    border:1px solid var(--orange-color);
    padding:10px 30px;
    border-radius: 5px;
    width: 12vw;
    margin:20px 0;
    color:var(--orange-color);
}

a{
    text-decoration: none;
}

.section1{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0;
}
.article-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.article-left h1{
    font-family: 'Volkhov';
    font-size: 50px;
    text-align: justify;
}

.article-left h1 span{
    color: #FA7436;
    font-size: 50px;
}


.section2{
    margin:20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  20px 200px;
    /* gap: 100px; */
    background-color: FFFFFF;
    padding: 20px;
    border: 1px;
    box-shadow: 0px 9px 36px rgba(0,0,0,0.2);
}

.section2 div h4,.section2 div p{
    margin: 0;
    font-weight: normal;
}

.section2 div p{
    /* font-family: 'poppins:1,100'; */
    font-size: 10px;
    color: #666666;
    opacity: 50;
    
}


/* header end */


.main1{
   background-color: #F7F8FC;
   padding: 30px;
}

.section3{
    text-align: center;
    margin:  30px 0px;
}

.section3 h1{
    font-family: 'Volkhov';
    font-size: 40px;

}

.section3 span{
    color: #FA7436;
    font-size: 40px;
    
}

.section3 p,.section4 .card p{
    color: #666666;
}

.section4{
    display: flex;
    /* justify-items: center; */
    gap:30px;
    justify-content: center;
}

.section4 .card{
    background-color: white;
    padding: 30px;
    box-shadow: 0px 9px 36px rgba(0,0,0,0.2);
}

.section4 h4{
    font-size: 16px;
}

.main2 .card img{
    width:200px;
    /* padding: 0; */
}

.main2 .card div{
    margin:0;
}

.main2 .card{
    margin: 0;
    padding:0;
}

.main2 .card h4,.main2 .card p{
padding: 5px;
}